[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
python-dotenv = "*"
jinja2 = "*"

[requires]
python_version = "3.8"

[scripts]
send_smart = "python3 send_smart/core.py"
