<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<title></title>
    <style type="text/css">
    table {
       border-collapse: collapse;
    }
    table th{
        background-color: #79ace6;
    }
    table th, table td {
        border: solid 1px black;
    }
	</style>
</head>
<body>
    send from [{{ hostname }}]
    <h3>{{ usage }}</h3>
    {% for disk, s in smart %}
    <h4>{{ disk }}</h4>
    <table>
        <tr>
            <th>ID</th><th>説明</th><th>値</th><th>ワースト値</th><th>しきい値</th><th>Raw値</th><th>ステータス</th>
        </tr>
        {% for t in s %}
        <tr>
            <td>{{ t.id }}</td><td>{{ t.description }}</td><td>{{ t.value }}</td><td>{{ t.worst_value }}</td><td>{{ t.threshold }}</td><td>{{ t.raw_value }}</td><td>{{ t.status }}</td>
        </tr>
        {% endfor %}
    </table>
    {% endfor %}
</body>
</html>